@import "src/styles/global.css";

@font-face {
	font-family: "Geist Mono";
	font-style: normal;
	font-weight: 400;
	src: url("/GeistMono.ttf") format("truetype");
}

html {
    font-family: var(--fontFamily);
    font-size: var(--fontSizeMd);
    background-color: var(--colBg2);
    color: var(--colPri);

    scrollbar-gutter: stable both-edges;
}

body {
    margin: 0;
}

a,
a:hover,
a:visited {
    color: var(--colPri);
}

button {
    cursor: pointer;
    font-family: var(--fontFamily);
    color: var(--colPri);
    background-color: transparent;
    border-radius: 0;
    border: var(--lineThickness) solid var(--colPri);
    font-size: var(--fontSizeMd);
    padding: 0.5rem 1rem;
    transition: all ease-in-out var(--transTime);
}

button:hover {
    color: var(--colBg);
    background-color: var(--colPri);
}

input {
    font-family: var(--fontFamily);
    color: var(--colPri);
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--colPri);
}

input:focus {
    border: none;
    border-bottom: 1px solid var(--colPri);
    outline: 1px solid var(--colPri);
    outline-offset: 3px;
}

/* Hide spin buttons */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox only */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

select {
    font-family: var(--fontFamily);
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--colPri);
    background-color: transparent;
    color: var(--colPri);
    cursor: pointer;
}

option {
    cursor: pointer;
}

h1 {
    margin: 0;
}

h3 {
    margin: 0;
}

.VisuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media screen and (width < 500px) {
    html {
        background-color: var(--colBg);
    }
}