:root {
    --fontFamily: "Geist Mono", system-ui, monospace;
    --fontSizeSm: 14px;
    --fontSizeMd: 16px;
    --fontSizeLg: 18px;
    --fontSizeIconBtn: 20px;
    --sizeCheckbox: 16px;
    --lineThickness: 1px;
    --transTime: 0.3s;

    --colDanger: #FF4647;
    --colWhite: #FFF;
    --colBlack: #000;
    --colBlackRgb: 0, 0, 0;

    --colSizeScreen: #219EBC;
    --colSizeBg: #FFB703;
    /* Third colour: #023047 */

    --colPri: #000;
    --colBg: #FFF;
    --colBg2: #F1F0F4;
}

:root[data-theme-mode="light"] {
    --colPri: #000;
    --colBg: #FFF;
    --colBg2: #F1F0F4;
}

:root[data-theme-mode="dark"] {
    --colPri: #FFF;
    --colBg: #2D2D2D;
    --colBg2: #373737;

    /* Colour picker variables */
    --cp-bg-color: var(--colBg2);
    --cp-border-color: var(--colPri);
    --cp-text-color: var(--colPri);
    --cp-input-color: var(--colBg);
    --cp-button-hover-color: #555;
}
