:root {
    --fontFamily: "Geist Mono", system-ui, sans-serif;
    --fontSizeMd: 14px;
    --fontSizeLg: 18px;
    --fontSizeSm: 12px;
    --lineThickness: 1px;
    --transTime: 0.3s;
/* 
    --colPri: #000;
    --colBg: #FFF;
    --colBg2: #F1F0F4; */
}

:root[data-theme-mode="light"] {
    --colPri: #000;
    --colBg: #FFF;
    --colBg2: #F1F0F4;
}

:root[data-theme-mode="dark"] {
    --colPri: #FFF;
    --colBg: #333;
    --colBg2: #000;
}
