/* Global config */

:root {
    --fontFamily: "Geist Mono", system-ui, sans-serif;
    --fontSizeMd: 14px;
    --fontSizeLg: 18px;
    --fontSizeSm: 12px;
    --lineThickness: 1px;

    --colPri: #000;
    --colBg: #f1f0f4;
}

:root[data-theme-mode="light"] {
    --colPri: #000;
    --colBg: #f1f0f4;
    --colBg2: #000;
}

:root[data-theme-mode="dark"] {
    --colPri: #FFF;
    --colBg: #000;
}

@font-face {
	font-family: "Geist Mono";
	font-style: normal;
	font-weight: 400;
	src: url("/GeistMono.ttf") format("truetype");
}

/* Global rules */

html {
    font-family: var(--fontFamily);
    background-color: var(--colBg);
}

button {
    background-color: transparent;
    border-radius: 0;
    line-height: 0;
    border: var(--lineThickness) solid var(--colPri);
}
